@import url(https://fonts.googleapis.com/css?family=Kanit:400,300,200);

body {
  font-family: 'Kanit', sans-serif;
  text-align: center;
  background-color: #F6F7F2;
}

.header-container {
  padding-top: 4em;
  padding-bottom: 4em;
}

.header-container h3 {
  font-size: 3.25em;
  font-weight: 200;
  color: #00B5B5;
}

.header-container h4 {
  font-size: 0.8em;
  font-weight: 400;
  text-transform: uppercase;
}

ul.list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 30px;
  padding-bottom: 30px;
}

ul.list > li {
  float: left;
  padding: 0px 20px;
}

ul.list::after {
  content: '';
  clear: both;
  position: relative;
  display: block;
}

.animaticon:hover {
  cursor: pointer;
}

.content-container .heading {
  font-weight: 300;
  margin-top: 2em;
  margin-bottom: 2em;
}

.content-container .content {
  background-color: #FFF;
  border-radius: 2px;
  margin-bottom: 15px;
  box-shadow: 0 1px 2px #DDD;
}

.content-container .content .title {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: right;
}