@import '../mixin.scss';

$icon-play-radius: 1px;
$icon-play-color: #333;
$icon-play-duration: 0.5s;
$icon-play-transition: all $icon-play-duration ease;

@mixin child($num) {
  span:nth-child(#{$num}) {
    @content;
    background-color: $icon-play-color;
    border-radius: $icon-play-radius;
    transition: $icon-play-transition;
  }
}

@mixin ai-gridlist-animate-child1() {
  0% {
    @include absolute($left: 0%, $top: 0, $width: 45%, $height: 45%);
  }
  25% {
    @include absolute($left: 0%, $top: 39%, $width: 45%, $height: 22%);
  }
  50% {
    @include absolute($left: 0%, $top: 39%, $width: 100%, $height: 22%);
  }
  100% {
    @include absolute($left: 0%, $top: 0, $width: 100%, $height: 22%);
  }
}
@-webkit-keyframes ai-gridlist-animate-child1 {
  @include ai-gridlist-animate-child1;
}
@keyframes ai-gridlist-animate-child1 {
  @include ai-gridlist-animate-child1;
}

@mixin ai-gridlist-animate-child1-out() {
  0% {
    @include absolute($left: 0%, $top: 0, $width: 100%, $height: 22%);
  }
  25% {
    @include absolute($left: 0%, $top: 39%, $width: 100%, $height: 22%);
  }
  50% {
    @include absolute($left: 0%, $top: 39%, $width: 45%, $height: 22%);
  }
  100% {
    @include absolute($left: 0%, $top: 0, $width: 45%, $height: 45%);
  }
}
@-webkit-keyframes ai-gridlist-animate-child1-out {
  @include ai-gridlist-animate-child1-out;
}
@keyframes ai-gridlist-animate-child1-out {
  @include ai-gridlist-animate-child1-out;
}

@mixin ai-gridlist-animate-child2() {
  0% {
    @include absolute($left: 0%, $bottom: 0, $width: 45%, $height: 45%);
  }
  25% {
    @include absolute($left: 0%, $bottom: 39%, $width: 45%, $height: 22%);
  }
  50% {
    @include absolute($left: 0%, $bottom: 39%, $width: 100%, $height: 22%);
  }
  100% {
    @include absolute($left: 0%, $bottom: 0%, $width: 100%, $height: 22%);
  }
}
@-webkit-keyframes ai-gridlist-animate-child2 {
  @include ai-gridlist-animate-child2;
}
@keyframes ai-gridlist-animate-child2 {
  @include ai-gridlist-animate-child2;
}

@mixin ai-gridlist-animate-child2-out() {
  0% {
    @include absolute($left: 0%, $bottom: 0, $width: 100%, $height: 22%);
  }
  25% {
    @include absolute($left: 0%, $bottom: 39%, $width: 100%, $height: 22%);
  }
  50% {
    @include absolute($left: 0%, $bottom: 39%, $width: 45%, $height: 22%);
  }
  100% {
    @include absolute($left: 0%, $bottom: 0, $width: 45%, $height: 45%);
  }
}
@-webkit-keyframes ai-gridlist-animate-child2-out {
  @include ai-gridlist-animate-child2-out;
}
@keyframes ai-gridlist-animate-child2-out {
  @include ai-gridlist-animate-child2-out;
}

@mixin ai-gridlist-animate-child3() {
  0% {
    @include absolute($right: 0%, $top: 0, $width: 45%, $height: 45%);
  }
  25% {
    @include absolute($right: 0%, $top: 39%, $width: 45%, $height: 22%);
  }
  50% {
    @include absolute($right: 0%, $top: 39%, $width: 100%, $height: 22%);
  }
  100% {
    @include absolute($right: 0%, $top: 39%, $width: 100%, $height: 22%);
  }
}
@-webkit-keyframes ai-gridlist-animate-child3 {
  @include ai-gridlist-animate-child3;
}
@keyframes ai-gridlist-animate-child3 {
  @include ai-gridlist-animate-child3;
}

@mixin ai-gridlist-animate-child3-out() {
  0% {
    @include absolute($right: 0%, $top: 39%, $width: 100%, $height: 22%);
  }
  25% {
    @include absolute($right: 0%, $top: 39%, $width: 45%, $height: 22%);
  }
  50% {
    @include absolute($right: 0%, $top: 39%, $width: 45%, $height: 22%);
  }
  100% {
    @include absolute($right: 0%, $top: 0, $width: 45%, $height: 45%);
  }
}
@-webkit-keyframes ai-gridlist-animate-child3-out {
  @include ai-gridlist-animate-child3-out;
}
@keyframes ai-gridlist-animate-child3-out {
  @include ai-gridlist-animate-child3-out;
}


@mixin ai-gridlist-animate-child4() {
  0% {
    @include absolute($right: 0%, $bottom: 0, $width: 45%, $height: 45%);
  }
  50% {
    @include absolute($right: 0%, $bottom: 39%, $width: 45%, $height: 22%);
  }
  100% {
    @include absolute($right: 0%, $bottom: 39%, $width: 100%, $height: 22%);
  }
}
@-webkit-keyframes ai-gridlist-animate-child4 {
  @include ai-gridlist-animate-child4;
}
@keyframes ai-gridlist-animate-child4 {
  @include ai-gridlist-animate-child4;
}

@mixin ai-gridlist-animate-child4-out() {
  0% {
    @include absolute($right: 0%, $bottom: 39%, $width: 100%, $height: 22%);
  }
  25% {
    @include absolute($right: 0%, $bottom: 39%, $width: 45%, $height: 22%);
  }
  50% {
    @include absolute($right: 0%, $bottom: 39%, $width: 45%, $height: 22%);
  }
  100% {
    @include absolute($right: 0%, $bottom: 0, $width: 45%, $height: 45%);
  }
}
@-webkit-keyframes ai-gridlist-animate-child4-out {
  @include ai-gridlist-animate-child4-out;
}
@keyframes ai-gridlist-animate-child4-out {
  @include ai-gridlist-animate-child4-out;
}



.animaticon {
  &.ai-gridlist {
    width: 40px;
    height: 40px;
    position: relative;

    @include child(1) {
      @include absolute($left: 0%, $top: 0, $width: 45%, $height: 45%);
      -webkit-animation: ai-gridlist-animate-child1-out $icon-play-duration 1;
      animation: ai-gridlist-animate-child1-out $icon-play-duration 1;
    }

    @include child(2) {
      @include absolute($left: 0%, $bottom: 0, $width: 45%, $height: 45%);
      -webkit-animation: ai-gridlist-animate-child2-out $icon-play-duration 1;
      animation: ai-gridlist-animate-child2-out $icon-play-duration 1;
    }

    @include child(3) {
      @include absolute($right: 0%, $top: 0, $width: 45%, $height: 45%);
      -webkit-animation: ai-gridlist-animate-child3-out $icon-play-duration 1;
      animation: ai-gridlist-animate-child3-out $icon-play-duration 1;
    }

    @include child(4) {
      @include absolute($right: 0%, $bottom: 0, $width: 45%, $height: 45%);
      -webkit-animation: ai-gridlist-animate-child4-out $icon-play-duration 1;
      animation: ai-gridlist-animate-child4-out $icon-play-duration 1;
    }

    &.--toggle {
      @include child(1) {
        @include absolute($left: 0%, $top: 0, $width: 100%, $height: 22%);
        -webkit-animation: ai-gridlist-animate-child1 $icon-play-duration 1;
        animation: ai-gridlist-animate-child1 $icon-play-duration 1;
      }

      @include child(2) {
        @include absolute($left: 0%, $bottom: 0%, $width: 100%, $height: 22%);
        -webkit-animation: ai-gridlist-animate-child2 $icon-play-duration 1;
        animation: ai-gridlist-animate-child2 $icon-play-duration 1;
      }

      @include child(3) {
        @include absolute($right: 0%, $top: 39%, $width: 100%, $height: 22%);
        -webkit-animation: ai-gridlist-animate-child3 $icon-play-duration 1;
        animation: ai-gridlist-animate-child3 $icon-play-duration 1;
      }

      @include child(4) {
        @include absolute($right: 0%, $bottom: 0, $width: 0%, $height: 0%);
        -webkit-animation: ai-gridlist-animate-child4 $icon-play-duration 1;
        animation: ai-gridlist-animate-child4 $icon-play-duration 1;
      }
    }
  }
}